:root.theme-light {
  --main-color: #353430;
  --title-color: #FFC2E6;
  --decor-color: #FF8DCB;
  --section-title-color: #353430;
  --accent-color: var(--main-color);
  --outline-hover-color: rgba(50, 49, 45, 0.4);
  --border-color: #353430;
  --bg-color: #FFF1F7;
  --bg-decor-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
  --main-color: #353430;
  --title-color: #FFC2E6;
  --decor-color: #FF8DCB;
  --section-title-color: #353430;
  --accent-color: var(--main-color);
  --outline-hover-color: rgba(50, 49, 45, 0.4);
  --border-color: #353430;
  --bg-color: #FFF1F7;
  --bg-decor-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
  }

  .theme-auto .header__decor {
    display: none;
  }
}

.theme-light .header__decor {
  display: none;
}