:root {
  --main-font: 'IBM Plex mono';
  --main-text-size: 18px;
  --main-font-weight: 400;
  --bold-font-weight: 700;
  --main-line-height: 1.3em;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-color: #db00ff;
  --main-color: #f1b2ce;
  --accent-color: #000028;
  --decor-color: #ff0070;
  --outline-hover-color: rgb(255,0,112, .4);
  --bg-color: #000028;
  --bg-decor-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --subtitle-margin: 20px 0 0 0;
  --paragraph-margin: 10px 0 0 0;
}
